<!DOCTYPE html>

<% if logged_in? %>

Boom...You are logged in!

<% if @feed_items.any? %>
    <h4>Here be a list of your organisations team members</h4>
    <%= render @feed_items %>
  <% else %>
  <h4>Welcome to RollCall!</h4>
    <p>Get started by <%= link_to "adding team members", new_team_member_path %></p>
<% end %>


<% else %>

<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>

<h2>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</h2>

<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>

<% end %>
