<% provide(:title, 'All Organisations') %>
<h1>All Organisations</h1>


<ul class="users">
  <% @organisations.each do |organisation| %>
    <li>
       <%= link_to organisation.name, organisation %>
       <% if current_user.superadmin? && !current_user?(@user)%>
         | <%= link_to "delete", organisation , method: :delete, data: {confirm: "Are you sure?"} %>
       <% end %>
    </li>
  <% end %>
</ul>
