<% provide(:title) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @organisation.name%></h1>

      <p>Administrators</p>
        <ul class="users">
          <%= render @organisation.users %>
        </ul>
      <hr/>
        <p>Team Members</p>
        <ul>
          <%= render @teammembers%>
        </ul>
    </section>
  </aside>



</div>
