<% provide(:title, 'Team Members') %>
<h1>All Team Members</h1>


<table class="team_members_list">
    <%= render @team_members %>
</table>

<%= link_to "download team members", "/team_members.csv", class: "new_teammember" %>
