<% provide(:title, @team_member.first_name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @team_member.first_name %> <%= @team_member.last_name %>
      </h1>
    </section>
  </aside>
</div>

<h3>Delete this team member</h3>
<%= link_to "delete", @teammember, method: :delete,
                                    data: {confirm: "are you sure? "} %>
