@import "bootstrap";

/* mixins, variables, etc*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  a, a:hover, a:visited {
  color: #4993EA;
  }
  background: #f4f4f4;
  color: $gray;
  font-size: 0.9em;
  font-family: 'Open Sans', Arial, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

header {
    background: #4993EA;
    box-shadow: 0 4px 2px -2px #ccc;
}


.navbar-inverse {
  .navbar-nav {
     li.nav-item {
       a.nav-link {
         color: #DAE9FA;
       }
      a.nav-link:hover{
        color: #fff;
      }
    }
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #4993EA;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 3em;
  margin: 50px 0 20px 0;
  text-align: center;
}

h2 {
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
  color: #777;
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
/*  background: url('/assets/rollcall-logo.svg') no-repeat; */
  background-position: left;
  background-size: 30% ;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* homepage */

.hero{
  align-content: center;
}

.hero img{
  display: inline;
  text-align: center;
  width: 60%;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


img {
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input.form-control{
  height: auto !important;
  border: 0px;
  border-radius: 0;
  background: #F8FBFE;
  padding: 15px 7px;
  margin: 0 0 10px 0;
  color: #4993EA;
  box-shadow: 3px 3px 0px 0px $gray-lighter;
}

.btn-primary{
  padding: 10px;
  border: 0px;
  border-radius: 0;
  display: inherit;
  background: #7ED321;
  box-shadow: 3px 3px 0px 0px #C5E99E;
  color: #ffffff;
  width: auto;
  cursor: pointer; /* "hand" cursor */
  }

  .signup{
    padding: 20px;
    width: 270px;
    background: url('/assets/rollcall-logo.svg') no-repeat;
    background-color: #7ED321;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-primary:visited {
    color:#fff;
  }

  .btn-primary:hover{
    background-color: #7EC036;
  }


  .field{
    margin-top: 30px;
  }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
//  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


#file{

}

/*
.upload{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
*/


.upload{
  padding: 150px 10px 30px 10px;
  border-radius: 3px;
  margin: 10px 0 20px 0;
  border: 1px dashed #4993EA;
  background: url('/assets/dragdrop.svg') top center no-repeat ;
  width: auto;
}

.example_csv{
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
  float: right;
  list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* team members lists */

.team_members_list{
  width: 100%;
  background: #F8FBFE;
  border-collapse: separate;
  margin: 0;
  padding: 10px 10px 0 10px;
  box-shadow: 3px 3px 0px 0px $gray-lighter;
  table {
    width: 100%;
/*  tr:nth-child(even) {
    background: #F7F7F7;
  } */
  tr {
    a, a:visited {
    color: #4993EA;
    text-decoration: none;
    }
    a:hover{
      color: #0A386E;
    }
      em{
        color: #ccc;
        font-style: normal;
      }
      b {
        font-weight: normal;
        color: #53B848;
        text-transform: uppercase;
        margin: 0 0 0 0;
      }
    }
  td{
    padding: 10px 0;
    border-bottom: 1px dashed $gray-lighter;
    }
  th{
    color: $gray;
    border-bottom: 2px solid $gray-lighter;
  }
  .name {
    width: 20%;
    padding-left: 0px;
  }
  .status {
    width: 30%;
    text-align: left;
  }
  .date {
    text-align: right;
    padding-right: 10px;
  }
 }
}

/* search form */


.search_form {
width: 100%;
float: left;
margin: 30px 0 10px 0;
  input{
  width: 100%;
  border: 0px solid #ccc;
  background: #F8FBFE;
  padding: 15px 7px;
  margin: 10px 0 10px 0;
  color: #4993EA;
  box-shadow: 3px 3px 0px 0px $gray-lighter;
}
}

.new_teammember{
  float: right;
  margin: 0 0 15px 0;
  a, a:visited, a:hover {
  padding: 10px;
  background: #7ED321;
  text-decoration: none;
  box-shadow: 3px 3px 0px 0px #C5E99E;
  color: #ffffff;
/*  background: url('/assets/add_teammembers.svg') no-repeat;
  background-position: left; */
  }
  a:hover {
    background: #7EC036;
  }
}

/* Add new team members */


#toggle{
  border-bottom: 1px solid #4993EA;
  line-height: 2.2rem;
  padding: 0 0;
  a {
    padding: 5px 5px;
    margin-right: 10px;
    color: #4993EA;
    cursor: pointer; /* "hand" cursor */
 }
 a.active, a:hover{
 border-bottom: 3px solid #4993EA;
color: #4993EA;
}
}

#bulk {
  display: none;
}

#individual{}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
